.mainHeading{
    font-size: 50px;
    position: sticky;
    top: 50px;
}
.table_row th{
    text-align: center;
    font-size: 22px;
}
.table_row td{
    text-align: center;
    font-size: 19px;
}
.filterRow{
    width: 90% !important;
    margin: 0px auto 1rem auto !important;
    border: 1px solid black !important;
    padding: 7px 10px !important;
    border-radius: 22px !important;
    background-color: #218181 !important;
    color: white !important;
}
.filterRow h2{
    margin: 0;
}
.filterRow select{
    margin-right: 20px;
    font-size: 22px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 9px;
    cursor: pointer;
}
.newExpense_col{
    margin: 0 !important;
    padding: 0 !important;
}
.fixedPart{
    position: fixed;
}
.newExpense_btn{
    /* padding: 10px 13px; */
    display: block;
    margin-top: 83px;
    /* width: 178px; */
    padding: 0px 20px;
    height: 49px;
    border-radius: 0px 30px 30px 0px;
    border: none;
    font-size: 19px;
    /* background-color: transparent; */
    color: white;
    background-color: #218181 !important;
}
.newExpense_btn:hover{
    background-color: #1a6969 !important;
}

.deleteBtn{
    margin-top: 19px;
    padding: 9px 20px !important;
    border: none !important;
    font-size: 17px !important;
    border-radius: 0px 30px 30px 0px !important;
}